
<div class="panel-body">
  <table class="table">
          <tr>
              <th>Id</th>
              <th>Employee Name</th>
              <th>Employee salary</th>
              <th>Employee age</th>
          </tr>
          <tr *ngFor="let post of post">

              <td>{{post.id}}</td>
              <td>{{post.employee_name}}</td>
              <td>{{post.employee_salary}}</td>
              <td>{{post.employee_age}}</td>

              <button class="btn btn-default" (click)="update(post)">update</button>
              <button class="btn btn-default" (click)="deletePost(post)">Delete</button>
          </tr>
      </table>

</div>
